/* =========================
   FAQ
========================= */


.faq {

    padding-block:var(--section-padding);

    background:var(--color-surface);

}



/* =========================
   LIST
========================= */


.faq__list {

    max-width:900px;

    margin:
    var(--space-7) auto 0;

}



/* =========================
   ITEM
========================= */


.faq__item {

    border-bottom:1px solid var(--color-border);

}



/* =========================
   QUESTION
========================= */


.faq__question {

    width:100%;

    padding-block:var(--space-4);

    display:flex;

    justify-content:space-between;

    align-items:center;

    background:transparent;

    border:none;

    cursor:pointer;

    text-align:left;

    font-family:var(--font-main);

    font-size:var(--text-md);

    font-weight:var(--weight-semibold);

    color:var(--color-text);

}



/* =========================
   ICON
========================= */


.faq__icon {

    flex-shrink:0;

    font-size:28px;

    font-weight:300;

    color:var(--color-primary);

    transition:var(--transition);

}



/* =========================
   ANSWER
========================= */


.faq__answer {

    max-height:0;

    overflow:hidden;

    opacity:0;

    transition:

    max-height .45s ease,
    opacity .35s ease;

}



.faq__answer p {

    padding-bottom:var(--space-4);

    color:var(--color-text-secondary);

    line-height:1.7;

}



/* =========================
   ACTIVE
========================= */


.faq__item.active .faq__answer {

    opacity:1;

}



.faq__item.active .faq__icon {

    transform:rotate(45deg);

}



/* =========================
   MOBILE
========================= */


@media(max-width:768px){


    .faq {

        padding-block:80px;

    }



    .faq__question {

        font-size:var(--text-sm);

    }


}