/* =========================
   FOOTER
========================= */


.footer {

    background:var(--color-text);

    color:white;

    padding:80px 0 32px;

    margin-top:var(--space-7);

}



/* =========================
   CONTAINER
========================= */


.footer-container {

    width:
    min(
        calc(100% - var(--container-padding) * 2),
        var(--container-width)
    );

    margin-inline:auto;

    display:flex;

    justify-content:space-between;

    gap:var(--space-7);

}



/* =========================
   BRAND
========================= */


.footer-brand h3 {

    font-family:var(--font-heading);

    font-size:42px;

    font-weight:700;

    letter-spacing:-0.05em;

    margin-bottom:var(--space-2);
    color:var(--color-surface);

}



.footer-brand p {

    max-width:280px;

    color:rgba(255,255,255,.6);

    line-height:1.6;

}



/* =========================
   LINKS
========================= */


.footer-links {

    display:flex;

    gap:80px;

}



.footer-column {

    display:flex;

    flex-direction:column;

    gap:var(--space-2);

}



.footer-column h4 {

    font-size:var(--text-xs);

    font-weight:600;

    letter-spacing:.12em;

    text-transform:uppercase;

    margin-bottom:var(--space-1);

    color:rgba(255,255,255,.5);

}



.footer-column a {

    color:white;

    text-decoration:none;

    font-size:var(--text-sm);

    transition:var(--transition);

}



.footer-column a:hover {

    color: #93C5FD;

}



/* =========================
   BOTTOM
========================= */


.footer-bottom {

    width:
    min(
        calc(100% - var(--container-padding) * 2),
        var(--container-width)
    );

    margin:
    var(--space-6) auto 0;

    padding-top:var(--space-3);

    border-top:
    1px solid rgba(255,255,255,.15);

}



.footer-bottom p {

    font-size:var(--text-xs);

    color:rgba(255,255,255,.45);

}



/* =========================
   MOBILE
========================= */


@media(max-width:768px){


    .footer {

        padding:60px 0 24px;

    }



    .footer-container {

        flex-direction:column;

        gap:var(--space-6);

    }



    .footer-links {

        flex-direction:column;

        gap:var(--space-5);

    }



    .footer-brand h3 {

        font-size:34px;
       

    }


}